.wrapper {
  width: 100%;
  height: 456px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
  border: 0.625rem solid #FFFFFF;
  cursor: pointer;

  .image {
    width: 100%;
    padding-bottom: 40%;
    background-size: cover;
    background-position: center;
    transition: .3s;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 2rem;
  }

  .subTitle {
    margin: 0;
    padding: 0;
    padding: 0 2rem;
    text-align: start;
    display: none;
    height: 0;
    background-color: #FFFFFF;
    transition: .3s;

    li {
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.1875rem;
      list-style: none;
      padding: 1.5rem 0;
      border-bottom: 1px solid #ADADAD;

      svg {
        margin-right: 1rem;
      }

      &:last-child {
        border: none;
        padding-bottom: 0.875rem;
      }
    }
  }
}

.hoverArea {
  &:hover {
    .image {
      padding-bottom: 44% !important;
    }
  
    .title {
      height: unset;
      padding-bottom: 0.5rem;
    }
  
    .subTitle {
      display: block;
      height: auto;
    }
  }
}
