.projectAdvisorDetail {
  width: 49.875rem;
  margin: auto;
  padding-top: 1.75rem;

  &Title {
    margin-bottom: 1.875rem;
    font-family: "Inter";
  }

  &Content {
    padding-left: 3rem;
    line-height: 1.5rem;
    text-align: justify;
    font-size: 1rem;
    font-family: "Inter";
  }
}

@media only screen and (max-width: 1350px) {
  .buttons {
    padding: 0 6.25rem;
  }
}

@media only screen and (max-width: 950px) {
  .projectAdvisorDetail {
    width: 90%;
  }
}
