.wrapper {
  max-width: var(--max-width-container);
  margin-top: 2rem;

  .head {
    text-align: center;

    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      width: 100%;

      .icon {
        transform: scale(2);
        background: none;
        border: none;

        &:disabled,
        &[disabled]{
          svg {
            path {
              stroke: var(--gray-300);
            }
          }
        }
      }

      .horizontalContainer {
        width: 80%;
        overflow-x: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        .scrollArea {
          display: flex;
          // justify-content: center;
          gap: 2rem;
          width: 100%;
          transition: .3s;

          .card {
            width: 50%;
            min-width: 470px;
          }
        }
      }
    }
  }

  .detailSection {
    max-width: 800px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .wrapper {
    .horizontalContainer {
      width: 90% !important;
    }
  }
}
