.advisorBody {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3.125rem;

  .advisorImage {
    margin: auto;
    width: 40%;
  }

  .advisorContent {
    text-align: justify;
    margin-top: 1.875rem;
    margin-bottom: 3.75rem;
  }
}

@media only screen and (max-width: 1350px) {
  .advisorBody {
    .advisorImage {
      margin: auto;
      width: 50%;
    }
  }
}

@media only screen and (max-width: 950px) {
  .advisorBody {
    max-width: 100%;

    .advisorImage {
      margin: auto;
      width: 50%;
    }
  }
}

@media (max-width: 768px) {
  .advisorBody {
    .advisorImage {
      margin: auto;
      width: 80%;
    }
  }
}
