.wrapper {
  .date {
    font-size: 1rem;
    color: var(--dark);
    margin-bottom: 0.5rem;
  }

  .title {
    margin-top: 0.5rem;
    color: var(--black);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2rem;
  }

  .hashtag {
    color: var(--quaternary);
    font-weight: 400;
    cursor: pointer;
  }

  .content {
    margin-top: 1.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: justify;
    margin-bottom: 4rem;
  }

  .btnArea {
    width: auto;
    max-width: 294px;
    margin: 7rem auto 1rem;
  }

  .textRelatedPosts {
    align-self: end;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .relatedPosts {
    padding-left: 90px;

    .relatedPost {
      cursor: pointer;

      .posts {
        width: 217px;
        border-bottom: 1px solid #B1B1B1;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 10px;

        .otherPostTitle {
          font-size: 1.25rem;
          font-weight: 700;
          line-height: 1.5rem;
        }
      }

      .image {
        width: 142px;
        height: 120px;
        background-size: cover;
        background-position: center;
      }
    }
  }
}

.postsByHashtag {
  display: flex;
  margin-top: 2.5rem;
  gap: 1.5rem;
  flex-direction: row;

  .date {
    color: var(--dark);
  }

  .title {
    font-size: 1.5rem;
    color: var(--black);
    font-weight: 700;
  }

  .hashtag {
    margin-top: 1rem;
    color: var(--quaternary);
    cursor: pointer;
  }

}

.distanceFooter {
  margin-bottom: 8.75rem;
}

@media (max-width: 1400px) {
  .wrapper {
    .content {
      margin-bottom: 1rem;
    }

    .relatedPosts {
      padding: 0 0.75rem;
      margin-bottom: 1.5rem;
      .relatedPost {
        cursor: pointer;
  
        .posts {
          width: auto;
        }
      }
    }
  }

  .postsByHashtag {
    .image {
      width: 220px;
      height: 180px;
    }
  }
}
@media only screen and (max-width: 768px){
  .wrapper {
    .relatedPosts {
      padding: 0 0.75rem;
      margin-bottom: 1.5rem;
      .relatedPost {
        .posts {
          width: 417px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .newsCategory {
    display: block;
    padding: 0 0.5rem;

    .news {
      margin-top: 1rem;
    }
  }

  .wrapper {

    .relatedPosts {
      padding: 0;
      .relatedPost {
        .image {
          width: 100px;
          height: auto;
        }

        .posts {
          width: 67%;
          margin-left: 0px;
          .otherPostTitle {
            font-size: 1.125rem;
          }
        }
      }
    }
  }

  .postsByHashtag {
    display: block;
    margin-top: 3rem;

    .date {
      margin-top: 0.5rem;
    }
  }
}
