.wrapper {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2rem;

  .title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--black);
    margin-bottom: 1rem;
  }

  .contentArea {
    .image {
      width: 100%;
      min-height: 400px;
      background-size: cover;
      background-position: center;
    }

    .desc {
      margin: 2.625rem 0;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #333333;
      text-align: justify;
    }
  }

  .btnArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
  }
}

@media (max-width: 575px) {
  .wrapper {
    .btnArea {
      display: flex;
      flex-direction: column-reverse;
      gap: 1rem;

      .btnNext {
        width: 100%;
      }

      button {
        padding: 1rem !important;
      }
    }
  }
}
