.tabs {
  margin-top: 0.75rem;
}

.wrapper {

  .date {
    font-size: 1rem;
    color: var(--dark);
  }

  .title {
    margin-top: 0.5rem;
    color: var(--black);
    font-size: 1.75rem;
    font-weight: 700;
  }

  .hashtagList {
    display: flex;
    gap: 21px;

    .hashtag {
      color: var(--quaternary);
      font-weight: 400;
      cursor: pointer;
      margin-top: 0.5rem;
      margin-bottom: 2rem;
    }
  }

  // .content {
  //   margin-top: 2rem;
  //   font-size: 1rem;
  //   font-weight: 400;
  //   line-height: 1.5rem;
  //   text-align: justify;
  //   margin-bottom: 3rem;
  // }

  .boxContent {
    position: relative;

    .content {
      padding-bottom: 150px;
      line-height: 1.5rem;
      margin-bottom: 3rem;
    }

    .btnArea {
      width: auto;
      max-width: 294px;
      margin: 0 auto;
      margin-bottom: 43px;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
    }
  }

  .textRelatedPosts {
    padding-left: 90px;
    align-self: end;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  .textRelatedPostsMobile {
    display: none;
  }

  .thumbnail {
    max-height: 500px;
  }

  .relatedPosts {
    padding-left: 90px;

    .postsWrapper {
      display: flex;
      gap: 1.5rem;
      margin-bottom: 2rem;
      cursor: pointer;
    }

    .posts {
      border-bottom: 1px solid #B1B1B1;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;

      .otherPostTitle {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 24.2px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 3;
      }

      .subDate {
        color: var(--dark);
        margin: 0.75rem 0;
      }
    }

    .image {
      min-width: 142px;
      height: 122px;
      // background-size: cover;
      // background-position: center;
      background-repeat: round;
    }
  }
}

.postsByHashtag {
  display: flex;
  margin-top: 2.5rem;
  gap: 1.5rem;
  flex-direction: row;

  .image {
    width: 290px;
    height: 200px;
  }

  .date {
    color: var(--dark);
  }

  .title {
    font-size: 1.5rem;
    color: var(--black);
    font-weight: 700;
  }

  .hashtag {
    margin-top: 1rem;
    color: var(--quaternary);
    cursor: pointer;
  }

}

.distanceFooter {
  margin-bottom: 8.75rem;
}

@media (max-width: 1400px) {
  .wrapper {
    .content {
      margin-bottom: 1rem;
    }

    .relatedPosts {
      padding: 0 0.75rem;
      margin-bottom: 1.5rem;

      .image {
        height: 122px;
      }
    }

    .textRelatedPosts {
      display: none;
    }

    .textRelatedPostsMobile {
      display: block;
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }

  .postsByHashtag {
    .image {
      width: 220px;
      height: 180px;
    }
  }
}

@media (max-width: 576px) {
  .newsCategory {
    display: block;
    padding: 0 0.5rem;

    .news {
      margin-top: 1rem;
    }
  }

  .wrapper {

    .relatedPosts {

      .posts {
        .otherPostTitle {
          font-size: 1.125rem;
        }
      }
    }
  }

  .postsByHashtag {
    display: block;
    margin-top: 3rem;

    .date {
      margin-top: 0.5rem;
    }
  }
}
